/*** 

    Body 

***/
html,
body {
  color: white;
  background-color: #1f1f1f;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

main {
  padding: 5px 10px;
}

main h1 {
  font-size: 20px;
}

section {
  background-color: #282828;
  border-radius: 15px;
  padding: 15px;
}

a {
  color: white;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.container {
  position: relative;
}

/* Results */
.result-item {
  margin: 10px;
  font-size: 20px;
}

.result-item a {
  color: #ffffff;
  text-decoration: none;
}

.result-item:hover {
  background-color: #888888;
}

/* 

    Header

*/
.header-title {
  display: block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: 10px 0;
}

.header-nav {
  text-align: center;
  user-select: none;
}

.header-nav a {
  text-decoration: none;
  padding: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.header-nav a:hover {
  background-color: #585858;
  border-radius: 15px;
}

.searchInput {
  width: 93%;
}

/* 

    Footer 

*/
body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 5.5rem; /* Footer height */
}

footer {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  height: 5.5rem; /* Footer height */
}
