/*** 

    Body 

***/
html,
body {
  color: black;
  /* background-color: #1f1f1f;#836e79 */
  background-color: #363f63; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    #363f63,
    #250b4d
  ); /* Standard syntax (must be last) */
}

body {
  /* max-width: 960px; */
  margin: 0 auto;
}

main {
  padding: 5px 10px;
}

main h1 {
  font-size: 20px;
}

section {
  /* background-color: #282828; */
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  padding-top: 1px;
}

a {
  color: black;
}

.img-round {
  border-radius: 50%;
}

/*

Body Home

*/

.home-welcome {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.home-welcome a {
  color: #00d5ff;
}

.feed-home {
  text-align: center;
  /* display: block; */
  /* width: 100px; */
  color: white;
  background-color: #00d5ff;
  padding: 7px 35px;
  border-radius: 10px;
}

.feed-home:hover {
  background-color: rgba(141, 249, 249, 0.961);
}

.feed-home-section {
  color: white;
}

/* Results */
.result-item {
  margin: 10px;
  font-size: 20px;
}

.result-item a {
  color: #ffffff;
  text-decoration: none;
}

.result-item:hover {
  background-color: #888888;
}

/* Horizontal list */
.list-horizontal {
  position: relative;
  white-space: nowrap;
  /* overflow-x: clip; */
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  padding: 0;
  margin: 0px;
  margin-bottom: 30px;
}

.list-item {
  white-space: normal;
  height: auto;
  width: 240px;
  display: inline-block;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list-item::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.list-horizontal-left,
.list-horizontal-right {
  position: absolute;
  z-index: 10;
  top: 40%;
  background-color: white;
  font-size: 18px;
}

.list-horizontal-left {
  /* Left button */
  left: 0px;
}

.list-horizontal-right {
  /* Right button */
  right: 0px;
}

/*** 

  Scrollbar 

***/
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 

    Header

*/
#nav-toggle {
  color: #00d5ff;
}

.headerTopBar {
  display: grid;
  grid-template-columns: 175px auto;
  column-gap: 20px;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  color: white;
  display: inline;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: 10px 0;
}

.header-nav {
  text-align: center;
  user-select: none;
}

.header-nav a {
  display: inline;
  text-decoration: none;
  padding: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.header-nav a:hover {
  background-color: hsl(0, 0%, 35%);
  border-radius: 15px;
}

.searchWrapper {
  display: grid;
  grid-template-columns: auto 32px;
}

.searchWrapper a {
  margin-left: 5px;
  font-size: 20px;
  display: inline;
  cursor: pointer;
}

.searchInput {
  display: inline-block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  background-color: black;
}

/* 

    Sidemenu 

*/
#nav-toggle {
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

.main {
  margin-left: 180px; /* match, width of sidebar */
  margin-top: 32px; /* space for menubutton */
  padding: 10px;
}

aside a {
  display: block; /* verital */
}

aside {
  display: none;
  background-color: #1f1f1f;
  height: 85%;
  width: 160px; /* match, margin-left of content */
  top: 32px;
  left: 0px;
  z-index: 1;
  padding: 0px;
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed;
}

/* 

    Footer 

*/
body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 5.5rem; /* Footer height */
}

footer {
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem; /* Footer height */
}

/*

    Mobile

*/

@media only screen and (max-width: 640px) {
  main {
    margin-left: 0;
  }

  #asideMenu {
    width: 100%;
  }

  .headerTopBar {
    grid-template-columns: auto;
  }
}

/*

    Dynamically resize youtube videos

*/

.youtube-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
